/* reset start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset end */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-size: 24px;
    background-color: #03339c;
    color: white;
    gap: 25px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    background-color: #2e70ff;
    box-shadow: 0px 0px 5px 2px rgb(24, 24, 24);
    padding: 15px;
}

.personnel, .location, .services, .single-service {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 5%;
}

.sub-personnel, .sub-location, .sub-service {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin: 0 10%;
}

.sub-personnel div.description {
    max-height: 300px;
}

.sub-location, .sub-service {
    flex-direction: column;
}

.personnel div.description, .location div.description, .single-service div.description {
    flex: 1;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.personnel div.description::-webkit-scrollbar, .location div.description::-webkit-scrollbar, .single-service div.description::-webkit-scrollbar {
    display: none;
}

.location div.left {
    text-align: center;
}

div.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.personnel div.image img {
    width: 300px;
    height: 100%;
}

.location div.image img, .sub-service div.image img {
    max-width: 80%;
    min-width: 65%;
    height: auto;
}

.subtitle {
    background-color: #2e70ff;
    box-shadow: 0px 0px 5px 2px #2e70ff, inset 0px 0px 5px 2px #03339c;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 0 10%;
}

.services-list div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 50px;
    background-color: #568bff;
    box-sizing: border-box;
    padding: 5px;
    transition: 1.5s;
}

.services-list div.right {
    justify-content: flex-end;
    text-align: right;
}

.services-list div:hover {
    background-color: #2e70ff;
    box-shadow: 3px 3px 5px 0px ;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
    gap: 25px;
}

.contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 25px;
}

a {
    text-decoration: none;
    color: white;
}

iframe {
    width: 300px;
    height: 300px;
    border: 2px ridge #2e70ff;
    box-shadow: 0px 0px 5px 5px #2e70ff;
}

/* on-load animations */

.target {
    transition: 1.5s;
}

header.target {
    transform: translateY(-100%);
}

header.target.active {
    transform: translateY(0);
}

.personnel.target, .services.target, .single-service.target {
    transform: translateX(-100%);
}

.personnel.target.active, .services.target.active, .single-service.target.active {
    transform: translateX(0);
}

.location.target, footer.target {
    transform: translateX(100%);
}

.location.target.active, footer.target.active {
    transform: translateX(0);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: #2e70ff;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    z-index: 2;
}

@media (min-width: 1100px) {
    .services-list div {
        padding: 5px 25px;
    }
}

@media (max-width: 700px) {
    .home {
        top: unset;
        bottom: 35px;
    }

    .personnel, .location, .single-service {
        gap: 15px;
        margin: 0;
    }

    .sub-personnel, .sub-location, .sub-service {
        height: auto;
        margin: 0;
    }

    .sub-personnel {
        flex-direction: column;
        align-items: center;
    }

    .sub-location {
        flex-direction: column;
    }

    .sub-personnel div.description, .sub-location div.description, .sub-service div.description {
        max-height: fit-content;
        text-align: center;
        overflow: unset;
        padding: 0 15px;
    }

    .personnel div.image img {
        width: 290px;
        height: auto;
    }

    .location div.image img {
        width: 90%;
        height: auto;
    }

    .services {
        margin: 0;
    }

    .services-list {
        display: flex;
        flex-direction: column;
    }

    .services-list div, .services-list div.right {
        justify-content: center;
        text-align: center;
    }

    footer {
        flex-direction: column;
        gap: 15px;
    }
    
    .contacts {
        text-align: center;
        gap: 5px;
    }
}